.main{
    grid-area: main;

    .colorBoton{
        background-color: $naranja;
        transition: 0.3s all ease;

        &:hover{
            background-color: $azul;
            color: $naranja;
        }
    }
    

    .disable{
        display: none;
        @media(max-width:768px){
            display: inline-block;
        }
        @media(max-width:425px){
            display: flex;
            justify-content: center;
        }
    }

    @media(max-width:768px){
        .margen{
            margin-bottom: 35px;
        }
    }
    @media(max-width:425px){
        .subaru{
            margin-bottom: 35px;
        }
        .lancer{
            margin-bottom: 35px;
        }
    }
}